<div class="col-sm-12 col-md-4 list-group-item clearfix">
    <div (click)="getRecordDetail(index)">
        <a href="#">
            <div class="pull-left">
                <h3 class="list-group-item-heading bg-success heading-record">{{record.title}}</h3>
                <p class="list-group-item-text">{{record.division}}</p>
            </div>
            <button class="pull-right btn btn-size {{record.status}}" type="button">
              <h5>Status:</h5> <span class="badge badge-record"> {{record.status}}</span></button>
        </a>
    </div>
    <button class="btn btn-danger list-group-item list-group-item-danger" (click)="onEditRecord(index)">Edit record</button>

</div>